Repository DMBerlin/json-parsefy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

Rename Dependabot configuration for json-parsefy
  .github/dependabot.yml
Due: none

Rename Dependabot configuration for json-parsefy (#59)
  .github/dependabot.yml
Due: none

chore: pnpm upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier

chore: pnpm upgrade dependencies (#61)
  package.json
  pnpm-lock.yaml
Due: prettier

ci: upgrade workflows to Node 24 and improve auto-merge regex
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/on-pushing.yml
  .github/workflows/release.yml
Due: none

chore(deps): consolidate open dependency PRs and upgrade CI workflows (#82)
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/on-pushing.yml
  .github/workflows/release.yml
  pnpm-lock.yaml
Due: none

fix(deps): override transitive vulnerabilities for js-yaml, xmldom, and baseline-browser-mapping
  package.json
  pnpm-lock.yaml
Due: prettier

ci: pin pnpm version 9 and add workspace overrides compatibility
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/on-pushing.yml
  .github/workflows/release.yml
  package.json
  pnpm-workspace.yaml
Due: prettier

ci: rely on packageManager for pnpm/action-setup
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/on-pushing.yml
  .github/workflows/release.yml
Due: none

fix(deps): override transitive vulnerabilities for js-yaml, @xmldom/xmldom, and baseline-browser-mapping (#83)
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/on-pushing.yml
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

fix(deps): override vulnerabilities for browserslist, fast-uri, and brace-expansion
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

fix(deps): override vulnerabilities for browserslist, fast-uri, and brace-expansion (#84)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

fix(deps): resolve remaining vulnerabilities and add dependabot ignore rules
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

fix(deps): resolve remaining vulnerabilities and add dependabot ignore rules (#85)
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

refactor(core): harden codebase, ensure 100% test coverage, and improve production readiness
  package.json
  src/decorators/class-transformer-loader.utils.spec.ts
  src/decorators/class-transformer-loader.utils.ts
  src/decorators/json-flattener.decorator.spec.ts
  src/decorators/json-flattener.decorator.ts
  src/index.spec.ts
  src/index.ts
  src/types/json-record.type.ts
  src/utils/bfs-parsing.utils.spec.ts
  src/utils/bfs-parsing.utils.ts
  src/utils/data-validation.utils.spec.ts
  src/utils/recursive-parsing.utils.ts
  tsconfig.json
Due: eslint, prettier

fix(core): optimize BFS to O(N), prevent primitive coercion, and add exports map
  package.json
  src/index.ts
  src/utils/bfs-parsing.utils.spec.ts
  src/utils/bfs-parsing.utils.ts
Due: eslint, prettier

feat(core): harden codebase, optimize BFS to O(N), add safe options, and export types (#94)
  package.json
  src/decorators/class-transformer-loader.utils.spec.ts
  src/decorators/class-transformer-loader.utils.ts
  src/decorators/json-flattener.decorator.spec.ts
  src/decorators/json-flattener.decorator.ts
  src/index.spec.ts
  src/index.ts
  src/types/json-record.type.ts
  src/utils/bfs-parsing.utils.spec.ts
  src/utils/bfs-parsing.utils.ts
  src/utils/data-validation.utils.spec.ts
  src/utils/recursive-parsing.utils.ts
  tsconfig.json
Due: eslint, prettier

Path conditions:
  eslint: any of: {src,apps,libs,test}/**/*.ts
  prettier: any of: ./**/*.{ts,js,json,*rc}
