Repository DMBerlin/json-parsefy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

chore: update exports
  src/index.ts
  src/utils/bfs-parsing.utils.ts
Due: eslint, prettier

chore: update peer dependencies
  package.json
Due: prettier

chore: update README.md
  README.md
Due: none

chore: update path aliases
  src/utils/bfs-parsing.utils.ts
  tsconfig.json
Due: eslint, prettier

chore: update main yml pipe
  .github/workflows/main.yml
Due: none

chore: update package manager
  .eslintrc.js
  .github/workflows/main.yml
  .github/workflows/on-pushing.yml
  .github/workflows/release.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  tsconfig.build.json
  tsconfig.json
Due: prettier

chore: update readme
  README.md
  package.json
  src/decorators/json-flattener.decorator.spec.ts
  src/decorators/json-flattener.decorator.ts
Due: eslint, prettier

feat: update ci, packages and configs
  .eslintrc.js
  .github/dependabot-security.yml
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/main.yml
  .github/workflows/on-pushing.yml
  .github/workflows/release.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  README.md
  package.json
Due: prettier

chore: update test cov
  README.md
  package-lock.json
  package.json
Due: prettier

feat: update ci, packages and configs (#24)
  .eslintrc.js
  .github/dependabot-security.yml
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/main.yml
  .github/workflows/on-pushing.yml
  .github/workflows/release.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  README.md
  package-lock.json
  package.json
Due: prettier

chore: update release please
  .github/workflows/on-pushing.yml
  .github/workflows/release.yml
  .release-please-manifest.json
  CHANGELOG.md
  commitlint.config.js
  package.json
  release-please-config.json
  tsconfig.json
Due: prettier

chore: update eslint
  .eslintrc.js
Due: prettier

Chore/release please (#35)
  .eslintrc.js
  .github/workflows/on-pushing.yml
  .github/workflows/release.yml
  .release-please-manifest.json
  CHANGELOG.md
  commitlint.config.js
  package.json
  release-please-config.json
  tsconfig.json
Due: prettier

chore: add lockfile
  .gitignore
Due: none

chore: add lockfile
  pnpm-lock.yaml
Due: none

Chore/release please (#36)
  .gitignore
  pnpm-lock.yaml
Due: none

chore: add write perm
  .github/workflows/release.yml
Due: none

Chore/release please (#37)
  .github/workflows/release.yml
Due: none

feat: optional decorator impl
  README.md
  package.json
  src/decorators/json-flattener.decorator.ts
  src/index.ts
Due: eslint, prettier

chore: isolate type
  src/decorators/json-flattener.decorator.ts
  src/types/json-flattener.types.ts
Due: eslint, prettier

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier

style: fix lint
  package.json
  pnpm-lock.yaml
  src/decorators/json-flattener.decorator.spec.ts
  src/decorators/json-flattener.decorator.ts
Due: eslint, prettier

feat: optional decorator impl (#39)
  README.md
  package.json
  pnpm-lock.yaml
  src/decorators/json-flattener.decorator.spec.ts
  src/decorators/json-flattener.decorator.ts
  src/index.ts
  src/types/json-flattener.types.ts
Due: eslint, prettier

fix: release pipeline
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/on-pushing.yml
  .github/workflows/release.yml
Due: none

fix: release pipeline (#40)
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/on-pushing.yml
  .github/workflows/release.yml
Due: none

chore: add script cmd for release
  package.json
Due: prettier

chore: add script cmd for release (#42)
  package.json
Due: prettier

chore: update pipeline
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Fix/pipeline (#43)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore: update version
  package.json
Due: prettier

fix: release pipeline
  .github/workflows/release.yml
  .release-please-manifest.json
Due: prettier

fix: update release pipeline configuration
  README.md
Due: none

chore: update readme
  README.md
Due: none

docs: update changelog with latest changes
  CHANGELOG.md
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

Fix/release pipeline config (#46)
  .github/workflows/release.yml
  .release-please-manifest.json
  CHANGELOG.md
  README.md
  package.json
Due: prettier

chore: add release-please
  package.json
  pnpm-lock.yaml
Due: prettier

Fix release pipeline configuration
  README.md
Due: none

Feat/add release please (#47)
  package.json
  pnpm-lock.yaml
Due: prettier

Path conditions:
  eslint: any of: {src,apps,libs,test}/**/*.ts
  prettier: any of: ./**/*.{ts,js,json,*rc}
