Repository DMBerlin/json-parsefy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

.lintstagedrc.json:

{
  "{src,apps,libs,test}/**/*.ts": ["eslint"],
  "./**/*.{ts,js,json,*rc}": ["prettier"]
}

feat: update configs
  .eslintrc.js
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc
  .lintstagedrc.json
  package.json
Due: prettier

feat: update configs (#2)
  .eslintrc.js
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc
  .lintstagedrc.json
  package.json
Due: prettier

feat: create a json parsable checker
  src/utils/json-validation.utils.ts
Due: eslint, prettier

feat: create a json tree parse
  src/utils/tree-json-parsing.utils.ts
Due: eslint, prettier

test: create a json tree parse tests
  src/utils/tree-json-parsing.utils.spec.ts
Due: eslint, prettier

feat: json tree parsing (#3)
  src/utils/json-validation.utils.ts
  src/utils/tree-json-parsing.utils.spec.ts
  src/utils/tree-json-parsing.utils.ts
Due: eslint, prettier

feat: create test for json parsable
  src/utils/json-validation.utils.spec.ts
  src/utils/json-validation.utils.ts
Due: eslint, prettier

feat: create test for json parsable (#4)
  src/utils/json-validation.utils.spec.ts
  src/utils/json-validation.utils.ts
Due: eslint, prettier

refactor: names and refs
  src/decorators/json-flattener.decorator.ts
  src/utils/json-data-validation.utils.spec.ts
  src/utils/json-data-validation.utils.ts
  src/utils/json-string-cleaner.utils.spec.ts
  src/utils/json-string-cleaner.utils.ts
  src/utils/json-tree-parsing.utils.spec.ts
  src/utils/json-tree-parsing.utils.ts
  src/utils/tree-json-parsing.utils.ts
Due: eslint, prettier

refactor: names and refs (#5)
  src/decorators/json-flattener.decorator.ts
  src/utils/json-data-validation.utils.spec.ts
  src/utils/json-data-validation.utils.ts
  src/utils/json-string-cleaner.utils.spec.ts
  src/utils/json-string-cleaner.utils.ts
  src/utils/json-tree-parsing.utils.spec.ts
  src/utils/json-tree-parsing.utils.ts
  src/utils/tree-json-parsing.utils.ts
Due: eslint, prettier

:recycle: refactor: examples on tests.
  src/utils/json-tree-parsing.utils.spec.ts
Due: eslint, prettier

:memo: refactor: names and refs
  README.md
Due: none

0.0.1 (#6)
  README.md
  src/utils/json-tree-parsing.utils.spec.ts
Due: eslint, prettier

refactor: names and refs
  src/utils/json-tree-parsing.utils.spec.ts
Due: eslint, prettier

chore: update exports
  src/index.ts
Due: eslint, prettier

0.0.1 (#8)
  src/index.ts
Due: eslint, prettier

feat: update packages
  .commitlintrc.json
  package-lock.json
  package.json
  src/index.ts
Due: eslint, prettier

0.0.1 (#9)
  .commitlintrc.json
  package-lock.json
  package.json
  src/index.ts
Due: eslint, prettier

feat: update docs with example
  README.md
Due: none

feat: update eslint exclusions
  tsconfig.json
Due: prettier

feat: update eslint exclusions
  .eslintrc.js
Due: prettier

Develop (#10)
  .eslintrc.js
  README.md
  tsconfig.json
Due: prettier

Create node.js.yml
  .github/workflows/node.js.yml
Due: none

Create node.js.yml (#11)
  .github/workflows/node.js.yml
Due: none

Update node.js.yml
  .github/workflows/node.js.yml
Due: none

Update node.js.yml (#12)
  .github/workflows/node.js.yml
Due: none

feat: update test to have escaped string inside arrays
  src/utils/json-tree-parsing.utils.spec.ts
Due: eslint, prettier

feat: update validation
  src/utils/json-data-validation.utils.ts
Due: eslint, prettier

feat: update parse method
  src/utils/json-string-cleaner.utils.ts
Due: eslint, prettier

feat: update parse method
  src/utils/json-tree-parsing.utils.ts
Due: eslint, prettier

Develop (#13)
  src/utils/json-data-validation.utils.ts
  src/utils/json-string-cleaner.utils.ts
  src/utils/json-tree-parsing.utils.spec.ts
  src/utils/json-tree-parsing.utils.ts
Due: eslint, prettier

refactor(project): update name
  README.md
  package-lock.json
  package.json
  src/index.ts
Due: eslint, prettier

0.0.1 (#14)
  README.md
  package-lock.json
  package.json
  src/index.ts
Due: eslint, prettier
