Repository DMBerlin/json-parsefy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

:recycle: refactor: examples on tests.
  src/utils/json-tree-parsing.utils.spec.ts
Due: eslint, prettier

refactor: names and refs
  src/utils/json-tree-parsing.utils.spec.ts
Due: eslint, prettier

refactor(decorator): update parsing method
  src/decorators/json-flattener.decorator.ts
Due: eslint, prettier

0.0.1 (#15)
  src/decorators/json-flattener.decorator.ts
Due: eslint, prettier

feat: update ci build and test
  .github/workflows/main.yml
  .github/workflows/node.js.yml
Due: none

refactor(gitflow): update steps
  .github/workflows/main.yml
Due: none

feat: update branch merge policy
  src/utils/json-tree-parsing.utils.spec.ts
Due: eslint, prettier

refactor(tests): update tests
  src/utils/json-string-cleaner.utils.spec.ts
  src/utils/json-tree-parsing.utils.spec.ts
Due: eslint, prettier

0.0.1 (#16)
  .github/workflows/main.yml
  .github/workflows/node.js.yml
  src/utils/json-string-cleaner.utils.spec.ts
  src/utils/json-tree-parsing.utils.spec.ts
Due: eslint, prettier

0.0.1 (#17)
  src/utils/json-string-cleaner.utils.spec.ts
  src/utils/json-tree-parsing.utils.spec.ts
Due: eslint, prettier

refactor: remove unused package
  .gitignore
  package.json
Due: prettier

refactor: remove unused package (#18)
  .gitignore
  package.json
Due: prettier

refactor: change app name
  package.json
Due: prettier

refactor: change app name
  README.md
Due: none

feat: update readme and export;
  README.md
  src/index.ts
Due: eslint, prettier

feat: update export (#19)
  README.md
  package.json
  src/index.ts
Due: eslint, prettier

refactor(1.2.0): naming refactoring
  src/decorators/json-flattener.decorator.ts
  src/index.ts
  src/utils/bfs-parsing.utils.spec.ts
  src/utils/bfs-parsing.utils.ts
  src/utils/data-validation.utils.spec.ts
  src/utils/data-validation.utils.ts
  src/utils/json-string-cleaner.utils.ts
  src/utils/json-tree-parsing.utils.ts
  src/utils/recursive-parsing.utils.spec.ts
  src/utils/recursive-parsing.utils.ts
Due: eslint, prettier

refactor(1.2.0): naming refactoring (#20)
  src/decorators/json-flattener.decorator.ts
  src/index.ts
  src/utils/bfs-parsing.utils.spec.ts
  src/utils/bfs-parsing.utils.ts
  src/utils/data-validation.utils.spec.ts
  src/utils/data-validation.utils.ts
  src/utils/json-string-cleaner.utils.ts
  src/utils/json-tree-parsing.utils.ts
  src/utils/recursive-parsing.utils.spec.ts
  src/utils/recursive-parsing.utils.ts
Due: eslint, prettier

chore: update package-json
  package.json
Due: prettier

feat(version): update version (#21)
  package.json
Due: prettier

refactor: change import shortcuts
  src/decorators/json-flattener.decorator.spec.ts
  src/decorators/json-flattener.decorator.ts
  src/index.ts
  src/utils/bfs-parsing.utils.spec.ts
  src/utils/bfs-parsing.utils.ts
  src/utils/data-validation.utils.spec.ts
  src/utils/recursive-parsing.utils.spec.ts
  src/utils/recursive-parsing.utils.ts
Due: eslint, prettier

style: update lint
  tsconfig.json
Due: prettier

chore: add tsbuildinfo to the ignore list
  .gitignore
Due: none

feat: update version
  package.json
Due: prettier

refactor: remove unused package
  package.json
Due: prettier

refactor: remove plugin from config
  tsconfig.json
Due: prettier

fix(1.2.1): file path aliases (#22)
  .gitignore
  package.json
  src/decorators/json-flattener.decorator.spec.ts
  src/decorators/json-flattener.decorator.ts
  src/index.ts
  src/utils/bfs-parsing.utils.spec.ts
  src/utils/bfs-parsing.utils.ts
  src/utils/data-validation.utils.spec.ts
  src/utils/recursive-parsing.utils.spec.ts
  src/utils/recursive-parsing.utils.ts
  tsconfig.json
Due: eslint, prettier

chore: update settings files
  .eslintrc.js
  .gitignore
  .npmignore
  package.json
  tsconfig.json
Due: prettier

chore: update git actions to npm publish
  .github/workflows/main.yml
Due: none

chore: prepare release
  package-lock.json
  src/decorators/json-flattener.decorator.spec.ts
  src/decorators/json-flattener.decorator.ts
  src/index.ts
  src/utils/bfs-parsing.utils.spec.ts
  src/utils/bfs-parsing.utils.ts
  src/utils/data-validation.utils.spec.ts
  src/utils/recursive-parsing.utils.spec.ts
  src/utils/recursive-parsing.utils.ts
Due: eslint, prettier

chore: add lock files
  .gitignore
  pnpm-lock.yaml
Due: none

Path conditions:
  eslint: any of: {src,apps,libs,test}/**/*.ts
  prettier: any of: ./**/*.{ts,js,json,*rc}
